header{
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(23, 23, 23, 0.818);
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 2rem;
}
.logoNav{
    width: 3.5rem;
    height: 3.5rem;
}
nav{
    display: flex;
    flex-flow: row nowrap;
}
.titleNav{
    color: rgb(171, 171, 171);
}
.btnNav{
    border-radius: 15px;
    background-color:  rgba(233, 233, 233, 0.8);
    padding:0.2rem 0.4rem;
    margin: 0 0.4rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.userNav{
    margin: 0 0 0 2rem;
}
.linkNav{
    text-decoration: none;
    color: rgb(171, 171, 171);
    margin: 0 0.3rem;
    font-weight: 600;
}
